AWSTemplateFormatVersion: '2010-09-09'
Resources:
  MainVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: "10.0.0.0/16"
      Tags:
        - Key: Name
          Value: "main-vpc" 
  MainSubnetA:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref MainVpc
      AvailabilityZone: ap-northeast-1a
      CidrBlock: "10.0.0.0/24"
      Tags:
        - Key: Name
          Value: "main-subnet-a"
